;; shadow-cljs configuration
{:source-paths
 ["src-cljs" "test"]

 :dependencies [[binaryage/devtools "0.9.7"]
                [reagent "0.8.0-alpha2"]
                [cljs-http "0.1.46"]
                [thheller/shadow-cljsjs "0.0.21"]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl        {:port 8777}

 :builds
 {:app {:target :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"

        :modules
        {:main
         {:entries [clj-csv-ddb.core]}}

        :devtools
        ;; before live-reloading any code call this function
        {:before-load clj-csv-ddb.core/stop
         ;; after live-reloading finishes call this function
         :after-load clj-csv-ddb.core/start
         ;; serve the public directory over http at port 8700
         :http-root    "public"
         :http-port    8700
         :preloads     [devtools.preload]}}}}
